# sudo false for using new container-based infrastructure,
# see https://docs.travis-ci.com/user/migrating-from-legacy/
# Note: Apparently doesn't work in combination with .NET Core yet.
# Opened https://github.com/travis-ci/travis-ci/issues/8216
# Uncommented for now to make sure nothing suddenly breaks when they enable it.
#sudo: false
git:
  depth: 1

# language, mono, dotnet, dist are all necessary for .NET Core,
# see https://docs.travis-ci.com/user/languages/csharp/#.NET-Core
language: csharp
mono: none
dotnet: 1.0.1
dist: trusty

script:
  - scripts/build.sh

deploy:
  provider: releases
  # True here, so that we can move the v0.1.0 tag and update the existing release.
  # This repo can and should be used as a template, and v0.1.0 should be the starting point.
  # But when you fork this repository, you should set it to false, to be forced to create new tags
  # so that you have a release history on GitHub, for example so that customers
  # can report a bug in a release and you can figure out which tag that was.
  overwrite: true
  skip_cleanup: true
  # Both target_commitish and tag_name are needed to tie the release to a specific tag
  target_commitish: $TRAVIS_COMMIT
  tag_name: $TRAVIS_TAG
  name: hello-netcoreapp $TRAVIS_TAG
  body: Automated release from Travis CI with added files from AppVeyor build
  draft: true
  file_glob: true
  file:
    - artifacts/*.tar.gz # FDDs and SCDs
    - artifacts/*.AppImage # AppImage
  api_key:
    secure: soEwvdwJ8elx8HpXY6NNl3zPz16Y9ciui1dsKprpfj55q/4rRECOF6IV1XLWkMTzecz6NyjdsOKVLtV7LTYPO/XDSttqPT4++0+JR1vcUyjxUyWsokZwWJ8lDmlHxkWhhwIHVlxN8V0TK8g0fbZ3PIYmwGgdjfH+jyI0nfYp/PltH74rP/+WtpzKqCR5J/k3HMEqr787omb1/OG6qV1qc7wyy688r+LyXX7h8J2Zwe2BxWYZm6z83xZADXGKxAAHHndqjoChB5ZBgibBCETrIRad8IcSJxqMUS5JLzlK0Ys17rjl061Iqc4XFNDSD3pB9RC2Vy7DeDZix1D/giHSAdtNgSbMblqm8gQ0QmowyXuwN1ZTYwRbM9NodxEoBU+2Jn8AtEX0nm41yoAFjXcpkMmUZ46GxIR/UhNLRp39Pz9Z+0UtTtMvsVM3GiAukuz+vwyPAJl9QsSZz3LeZVRLqvMYpyUXrhZS8RwC5KD5/qFSW8+3pvJzYqr/z0ePbS+RGRB0Cz9EO1W5SmPpSNKCkGhly7Tt8+P6ZoQ74xn6pkEjNn3Wc3hCfM/aGnlKp/48JJHhIV6Foj63NOnQx0Rtk7ZPa2ZynnKgA4L1Wh7JdP/5bM+85RHhBuh/QP3YaeKyuXNVMYf4dM7VQ7OMeAbteUeQBKSOrsJdDZg7TOdIt24=
  on:
    tags: true
